<nav class="navbar navbar-expand-sm navbar-toggleable-sm d-flex  overflow-auto navbar" style="background-color: gainsboro">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="../../../assets/Images/Circulayo_Logo.png" style="height:50px; width: 200px"></a>

        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon  flex-column-reverse flex-md-row" style="color:black"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav">

                    <li class="nav-item item-list">
                        <a class="nav-link text-white " routerLink="/landing">Home</a>
                    </li>
                    <li class="nav-item item-list">
                        <a class="nav-link text-white " routerLink="/itemtypemanagement">ItemType</a>
                    </li>
                    <li class="nav-item item-list">
                        <a class="nav-link text-white " routerLink="/uig">Management</a>
                    </li>
                    <li class="nav-item item-list">
                    <a class="nav-link text-white " href="/Home/Logout">Logout</a>
                    </li>

            </ul>
        </div>
    </div>
</nav>